---
layout: base
---

<div class="banner">
  <span class="secondary">Getting Started</span>
  <span>{{guideName}}</span>
</div>

{{ content }} {% assign sortedCollections = collections[collectionName] |
sortByOrder %} {%- for file in sortedCollections -%} {% if nvme == false and
file.data.title == "nvme" %} {% continue %} {%- endif -%} {% for proc in
file.data.procedures %}
<div class="container">
  <div>
    <h1>{{ proc.title }}</h1>
    {% for item in proc.steps %}
    <div class="step">
      <div class="layout horizontal center">
        <h2>Step {{ forloop.index }}</h2>
        <span class="title">{{item.title}}</span>
      </div>
      {% if item.image or item.content %}
      <div class="step-image-instruction">
        {% if item.image %}
        <div class="image-container"><img src="/images/{{item.image}}" /></div>
        {% endif %} {% if item.content %}
        <div>{{item.content}}</div>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <hr />
    {% endfor %}
  </div>
</div>
{%- endfor -%} {%- endfor -%}
