body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

a {
  color: #03a9f4;
}

h3 {
  margin: 2rem 0 1rem;
}

.text-center {
  text-align: center;
}

/* CONTENT STYLES */
.container {
  margin: 0 auto;
  padding: 16px 8px;
  max-width: 1000px;
}

.content {
  margin: 32px 0;
}
.content li {
  padding: 4px 0;
}
.content img {
  max-width: 100%;
}

/* FOOTER STYLES */
.footer {
  margin-top: 24px;
  border-top: 1px solid #ccc;
  padding-top: 24px;
  text-align: center;
}
.footer .initiative {
  font-style: italic;
  margin-top: 16px;
}



/* FLEX STYLES */
.layout.horizontal,
.layout.vertical {
  display: flex;
}
.layout.inline {
  display: inline-flex;
}
.layout.horizontal {
  flex-direction: row;
}
.layout.vertical {
  flex-direction: column;
}
.layout.wrap {
  flex-wrap: wrap;
}
.layout.no-wrap {
  flex-wrap: nowrap;
}
.layout.center,
.layout.center-center {
  align-items: center;
}
.layout.bottom {
  align-items: flex-end;
}
.layout.center-justified,
.layout.center-center {
  justify-content: center;
}
.flex {
  flex: 1;
  flex-basis: 0.000000001px;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-none {
  flex: none;
}
.layout.justified {
  justify-content: space-between;
}

/* NAVIGATION STYLES */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar img {
  height: 48px;
  margin-left: -7px;
}
.nav-bar ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.nav-bar ul li {
  list-style: none;
}
.nav-bar li a {
  display: inline-block;
  padding: 4px;
  margin: 0 4px;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.nav-bar a.active {
  border-bottom-color: #03a9f4;
}

/* GUIDE STYLES */
.guides a {
  color: inherit;
  text-decoration: none;
  border: 1px solid #e0e0e0;
  border-radius: 24px;
  margin: 0 8px;
}

.guides a:hover {
  border-color: #CCC
}

.hint {
  margin-top: 24px;
  font-style: italic;
}


/* BANNER STYLES */

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  background-color: #FBC902;
  line-height: 1.2;
  padding: 24px;
  margin: 16px 0;
}

.banner > * {
  padding: 8px 0;
}


/* STEP STYLES */
.step {
  margin-bottom: 16px;
}

.step .header {
  display: flex;
  align-items: center;
}

.step h2 {
  padding-right: 16px;
}

.step .title {
  font-size: 24px;
  font-weight: 300;
}

.step .image {
  width: 100%;
  max-width: 350px;;
}

.step img {
  width: 100%;
  border-radius: 8px;
}

.step ul, .step .image {
  margin: 8px 0;
}
hr {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

/* VIDEOS STYLES */
.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video {
  width: 650px;
  margin: 16px;
}

.nvme-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nvme-selection a {
  display: block;
  border-radius: 16px;
  border: 1px solid #ececec;
  padding: 24px;
  text-decoration: none;
  color: inherit;
  margin: 8px;
  flex: 1;
  max-width: 30%;
}

.nvme-selection a.active {
  border-color: #03a9f4;
}