---
layout: base
title: Getting Started
permalink: "{{ page.fileSlug }}/index.html"
---

<div class="banner">
  <span class="secondary">Upgrade Guide</span>
  <span>{{guideName}}</span>
</div>

{{ content }}
