---
layout: base
title: Documentation
description: Troubleshooting, resources, and videos
setup:
  - title: Adding an SSD to your Yellow or Yellow Kit
    url: /guides/add-ssd-existing-installation/
  - title: Reinstall Home Assistant OS
    url: /guides/reinstall-os/
  - title: Removing the Raspberry Pi Compute Module 4 (CM4)
    url: /guides/remove-cm4/
  - title: Installing the Raspberry Pi Compute Module 4 (CM4)
    url: /guides/install-cm4/
multiprotocol:
  - title: About multiprotocol support
    url: /guides/about-multiprotocol/
  - title: Enable multiprotocol support
    url: /guides/enable-multiprotocol/
  - title: Disable multiprotocol support
    url: /guides/disable-multiprotocol/
troubleshooting:
  - title: Using the serial console for debugging (Windows)
    url: /guides/use-serial-console-windows/
  - title: Using the serial console for debugging (Linux/macOS)
    url: /guides/use-serial-console-linux-macos/
  - title: Home Assistant Yellow LEDs
    url: /guides/yellow-leds/
  - title: Reinstall Raspberri Pi CM4 EEPROM firmware
    url: /guides/flash-cm4-firmware/
  - title: Installation on Yellow kit - yellow LED keeps flashing
    url: /guides/install-yellow-light-keeps-flashing-in-heartbeat/
---

<div class="container">
  <h1>Guides</h1>
  <h2>Setup</h2>
  <div class="layout horizontal items">
    {% for guide in setup %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  <h2>Multiprotocol</h2>
  <div class="layout horizontal items">
    {% for guide in multiprotocol %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  <h2>Troubleshooting</h2>
  <div class="layout horizontal items">
    {% for guide in troubleshooting %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  <h1>Resources</h1>
  <div class="layout horizontal items">
    <a href="/hardware">
      <div class="layout vertical center">
        <div style="padding: 45px 45px 16px 45px">
          <img src="/images/icons/hardware.png" width="150" />
        </div>
        <h3>Hardware</h3>
      </div>
    </a>
    <a href="/resources">
      <div class="layout vertical center">
        <div style="padding: 45px 45px 16px 45px">
          <img src="/images/icons/download-file.png" width="150" />
        </div>
        <h3>Downloads</h3>
      </div>
    </a>
    <a href="/videos">
      <div class="layout vertical center">
        <div style="padding: 45px 45px 16px 45px">
          <img src="/images/icons/online-video.png" width="150" />
        </div>
        <h3>Videos</h3>
      </div>
    </a>
  </div>
</div>
