---
layout: base
title: Documentation
description: Troubleshooting, resources, and videos

system_description:
  - title: About Home Assistant Yellow
    url: /documentation/about_home-assistant_yellow/
setup:
  - title: Adding an SSD to your Yellow or Yellow Kit
    url: /guides/add-ssd-existing-installation/
  - title: Reinstalling the Home Assistant OS on CM4
    url: /guides/reinstall-os/
  - title: Reinstalling the Home Assistant OS on CM5
    url: /guides/reinstall-os-cm5/
  - title: Removing the Raspberry Pi Compute Module
    url: /guides/remove-cm4/
  - title: Installing the Raspberry Pi Compute Module 4
    url: /guides/install-cm4/

sections:
  - title: Thread
    guides:
      - title: Enable Thread support
        url: /procedures/enable-thread/
  - title: Multiprotocol (experimental)
    guides:
      - title: About multiprotocol support
        url: /guides/about-multiprotocol/  
      - title: About firmware options
        url: /guides/about-firmware-options/
      - title: Disable multiprotocol support
        url: /guides/disable-multiprotocol/
  - title: Data
    guides:
    - title: Creating a backup
      url: /guides/create-backup/
    - title: Resetting the device
      url: /guides/factory-reset/
    - title: Restoring/migrating from a backup
      url: /guides/restore-backup
  - title: Troubleshooting
    guides:
    - title: Using the serial console for debugging (Windows)
      url: /guides/use-serial-console-windows/
    - title: Using the serial console for debugging (Linux/macOS)
      url: /guides/use-serial-console-linux-macos/
    - title: Home Assistant Yellow LEDs
      url: /guides/yellow-leds/
    - title: Reinstall Raspberri Pi CM4 EEPROM firmware
      url: /guides/flash-cm4-firmware/
    - title: Re-seating the Raspberry Pi Compute Module 4
      url: /guides/reseat-cm4/
    - title: Re-seating the Raspberry Pi Compute Module 5
      url: /guides/reseat-cm5/
---

<div class="container">
  <h1>System description</h1>
  <div class="layout horizontal items">
    {% for guide in system_description %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  <h1>Operation</h1>
  <h2>Setup</h2>
  <div class="layout horizontal items">
    {% for guide in setup %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  {% for section in sections %}
  <h2>{{section.title}}</h2>
  <div class="layout horizontal items">
    {% for guide in section.guides %}
    <a href="{{guide.url}}">
      <div class="layout vertical center">{{guide.title}}</div>
    </a>
    {% endfor %}
  </div>
  {% endfor %}
  <h1>Resources</h1>
  <div class="layout horizontal items">
    <a href="/hardware">
      <div class="layout vertical center">
        <div style="padding: 45px 45px 16px 45px">
          <img src="/images/icons/hardware.png" width="150" />
        </div>
        <h3>Hardware</h3>
      </div>
    </a>
    <a href="/resources">
      <div class="layout vertical center">
        <div style="padding: 45px 45px 16px 45px">
          <img src="/images/icons/download-file.png" width="150" />
        </div>
        <h3>Downloads</h3>
      </div>
    </a>
    <a href="/videos">
      <div class="layout vertical center">
        <div style="padding: 45px 45px 16px 45px">
          <img src="/images/icons/online-video.png" width="150" />
        </div>
        <h3>Videos</h3>
      </div>
    </a>
  </div>
</div>
